/* main resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* debug system */
.debug>.content {
    height: 940px;
}

.debug>header {
    height: 130px;
    background-color: violet;
}

.debug .intro {
    height: 300px;
    background-color: yellow;
}

.debug .leadership {
    height: 100px;
    background-color: teal;
}

.debug .menu {
    height: 500px;
    background-color: yellowgreen;
}

.debug .maincontent {
    height: 500px;
    background-color: tomato;
}

.debug footer {
    height: 50px;
    background-color: brown;
}

/* style content */

body {
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Montserrat', sans-serif;
}

.intro {
    width: 100%;
    height: 440px;
    margin: 1rem 0 1rem;
    background-image: url(./img/banner.jpg);
    background-position: center;
}

.leadership {
    margin-bottom: 1rem;
}

.maincontent, .sx {
    float: left;
}

.dx {
    float: right;
}

.menu {
    width: 24%;
}

.maincontent {
    width: 48%;
    margin-left: 2%;
    margin-right: 2%;
}

footer {
    margin-top: .5rem;
}

.logo {
    height: 60px;
    border-right: 2px solid #f8f8f8;
    padding-right: 20px;
    margin-bottom: 2rem;
}

.nav {
    color: gray;
    margin-right: .5rem;
}